<div id="bg-blur"></div>
<div class="content-wrap">
<header>
  <div class="wrapper">
    {% if page.path contains '_posts' %}<p class="post-meta">{{ reading-time }} read</p>{% else if page.sub %}<p>{{ site.sub }}</p>{% else %}<p>{{ site.description }}</p>{% endif %}
    {% if page.title %}{% if page.link %}<a class="linked-post" href="{{ page.link }}">{% endif %}<h1>{% if page.link %}<span class="icon-call-made"></span>{% endif %}{{ page.title }}</h1>{% if page.link %}</a>{% endif %}{% else %}<h1>{{ site.title }}</h1>{% endif %}
  </div>
</header>

  <nav>
    <div class="navToggle">
      <div class="icon-left"></div>
      <div class="icon-right"></div>
    </div>
    <div class="nav-title">CHCS Handbook{% if page.title %}: {{ page.title }}{% endif %}</div>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      {% for p in site.posts reversed %}
        <li><a {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
